[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/Gamepad"]
	path = lib/Gamepad
	url = https://github.com/piborg/Gamepad.git
[submodule "lib/hand_tracking"]
	path = lib/hand_tracking
	url = https://github.com/cristianooo1/dino_hand_ai.git
